.button
{
  -fx-min-width: 200px;
}

.text-area
{
  -fx-pref-width: 50px;
  -fx-pref-height: 80px;
  -fx-font-size: 16pt;
}



*.root
{
 -fx-font-size: 12pt;
 -fx-font-family: "Calibri";
 -fx-base: #add8e6; 
 -fx-spacing: 10px;
 -fx-padding: 5px;
}
.button
{
 -fx-text-fill: #008000; /* green */
 -fx-font-size: 12pt;
}
.label
{
 -fx-min-width : 80px;
 -fx-min-height: 50px;
 -fx-font-weight: bold;
 -fx-font-size: 14pt;
  -fx-background-radius: 10px;
}
.combo-box
{
 -fx-min-width : 80px;
 -fx-min-height: 42px;
 -fx-font-weight: bold;
 -fx-font-size: 14pt;
  -fx-background-radius: 10px;
}
.text-field
{
 -fx-min-width: 200px;
 -fx-text-fill: #1100cc;
 -fx-background-color: #ccffcc ;
}
.button1
{
 -fx-font-weight: bold; 
 -fx-text-fill: black;
 -fx-background-radius: 10px;
}
.button1:hover {
    -fx-background-color: lightblue;
    -fx-scale-y: 1.1;
}


